# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
iat_env/

# Database
iat_protocol.db

# OS
.DS_Store

# Test / cache
.pytest_cache/
*.json
iat_wallets_v2.json
iat_wallets_v2.json
*.json
*wallet*
*keypair*
phantom-wallet.json
iat_protocol.db
